# Alumno

**Jaime Raposo Torre && Juan de Dios Hernández**

# Ejercicios de Pandas

Antes de empezar, importemos los módulos que vamos a utilizar.

In [1]:
import numpy as np
import pandas as pd

## Series

### Asigna el nombre "alfabeto" a la siguiente serie e imprímela.

Pista: [pandas.Series.name](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.name.html)

In [2]:
s = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
s.head()

0    a
1    b
2    c
3    e
4    d
dtype: object

In [3]:
# Solución
s.name = 'alfabeto'
s.head()

0    a
1    b
2    c
3    e
4    d
Name: alfabeto, dtype: object

### Escribe una expresión que, dadas dos series, diga si todos los elementos de la primera son mayores que los correspondientes de la segunda.

Pista: [pandas.Dataframe.all()](https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.DataFrame.all.html)

In [4]:
s1 = pd.Series(np.random.randint(1, 10, size=10))
s2 = s1 + 1
print(s1)
print(s2)

0    6
1    7
2    9
3    3
4    6
5    5
6    8
7    1
8    8
9    3
dtype: int64
0     7
1     8
2    10
3     4
4     7
5     6
6     9
7     2
8     9
9     4
dtype: int64

In [5]:
# Solución
# Dadas dos series, di si todos los elementos de s1 son mayores que los de s2
print((s1 > s2).all(),(s2 > s1).all())

False True

### Escribe una expresión que, dadas dos series, diga si hay algún elemento de la primera es menor o igual que el correspondiente de la segunda.

Pista: [pandas.Dataframe.any()](https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.DataFrame.any.html)

In [6]:
s1 = pd.Series(np.random.randint(1, 10, size=10))
s2 = pd.Series(np.random.randint(1, 10, size=10))

In [7]:
# Solución
(s1 <= s2).any()

True

### Extrae todos los elementos de la serie dada que se encuentran en las posiciones indicadas por una lista.

In [8]:
serie = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
posicion = [0, 4, 8, 14, 20]

In [9]:
# Solución

serie[posicion]

0     a
4     e
8     i
14    o
20    u
dtype: object

### Construye una serie que sea el resultado de concatenar a una serie dada los elementos de otra.

Muestra el resultado de concatenar `s1` y `s2`, y responde a estas preguntas: ¿Qué ha sucedido con el índice? ¿Cuál es el tipo de datos de la serie resultante? ¿Qué sucede si indexamos la serie con el índice `0`?

Pista: [pandas.concat](https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.concat.html)

In [10]:
s1 = pd.Series(range(5))
s2 = pd.Series([0.2, 0.3, 0.4])

In [11]:
# Solución y respuestas a las preguntas
print(s1)
print(s2)
pd.concat([s1, s2])

# Observamos que los índices se repiten y que el tipo de datos resultante es float, ya que ha adaptado el tipo de datos a la serie que es de tipo float.
# si indexamos por el indice 0:
pd.concat([s1, s2])[0]
# nos encontramos con que nos devuelve los dos valores que coinciden con el índice 0.

0    0
1    1
2    2
3    3
4    4
dtype: int64
0    0.2
1    0.3
2    0.4
dtype: float64

0    0.0
0    0.2
dtype: float64

### Ordena una serie, primero por el valor del índice y después por el valor de la serie, e imprímelas.

Pistas: [pandas.Series.sort_index()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.sort_index.html) y [pandas.Series.sort_values()](https://pandas.pydata.org/docs/reference/api/pandas.Series.sort_values.html)

In [12]:
serie = pd.Series({3: 1, 5: 0, 1: 4})
print(serie)

3    1
5    0
1    4
dtype: int64

In [13]:
# Solución
print(serie.sort_index())
print(serie.sort_values())

1    4
3    1
5    0
dtype: int64
5    0
3    1
1    4
dtype: int64

### Calcula la media del error cuadrático entre dos series.

Nota: La fórmula del error cuadrático entre $x$ e $y$ es $(x - y)^2$.

In [14]:
np.random.seed(0)
x = pd.Series(range(10))
y = pd.Series(range(10)) + np.random.random(10)
print(x)
print(y)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
0    0.548814
1    1.715189
2    2.602763
3    3.544883
4    4.423655
5    5.645894
6    6.437587
7    7.891773
8    8.963663
9    9.383442
dtype: float64

In [15]:
# Solución

np.mean((x - y) ** 2)

0.41319910235287544

### Convierte la siguiente serie de fechas introducidas como cadenas a una serie de tipo `datetime` llamada `fechasdt`. 

Pista: [pandas.to_datetime()](https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.to_datetime.html)

In [16]:
fechas = pd.Series(['02 Jan 2010T00:00:01',
                    '02-02-2011',
                    '20120303',
                    '2013/04/04',
                    '2014-05-05',
                    '2015-06-06T12:20'])

In [17]:
# Solución
fechasdt = pd.to_datetime(fechas, format='mixed')
fechasdt

0   2010-01-02 00:00:01
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

### Crea tres series a partir de la serie `fechasdt` anterior llamadas `days`, `months` y `years`, donde cada una contenga el día, el mes y el año de cada fecha, respectivamente.

Pista: Una serie del tipo `datetime` tiene un atributo `.dt` con métodos para acceder al día, mes y año, por ejemplo, [pandas.Series.dt.day()](https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.Series.dt.day.html).

In [18]:
# Solución
fechasdtYear = fechasdt.dt.year
fechasdtMonth = fechasdt.dt.month
fechasdtDay = fechasdt.dt.day

print(fechasdtYear)
print(fechasdtMonth)
print(fechasdtDay)

0    2010
1    2011
2    2012
3    2013
4    2014
5    2015
dtype: int32
0    1
1    2
2    3
3    4
4    5
5    6
dtype: int32
0    2
1    2
2    3
3    4
4    5
5    6
dtype: int32

### Crea una serie con valores aleatorios enteros entre 1 y 10, pero cuyo índice tenga 12 objetos del tipo `datetime` con el primer día de cada mes del año 2024

El índice deben empezar por el **01-01-2024** y terminar en el **01-12-2024**.

Pistas: [numpy.random.randint](https://numpy.org/doc/stable/reference/random/generated/numpy.random.randint.html()) y [pandas.date_range()](https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.date_range.html)

In [19]:
# Solución
spd = pd.Series(np.random.randint(1, 10, 12), index=pd.date_range(start='01-01-2024', periods=12, freq='MS'))
spd

2024-01-01    7
2024-02-01    8
2024-03-01    8
2024-04-01    9
2024-05-01    2
2024-06-01    6
2024-07-01    9
2024-08-01    5
2024-09-01    4
2024-10-01    1
2024-11-01    4
2024-12-01    6
Freq: MS, dtype: int64

## DataFrames

### Dadas las siguientes series que representan frutas, precio y peso comprado de cada una de ellas, construye un `Dataframe` y obtén tanto el precio medio como el peso medio de cada tipo de fruta.

Pista: [pandas.Series.groupby()](https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.Series.groupby.html)

In [20]:
np.random.seed(0)
frutas = pd.Series(np.random.choice(['manzana', 'banana', 'zanahoria'], 10))
precios = pd.Series(np.random.sample(10) * 3)
pesos = pd.Series(np.random.randint(1, 5, 10))

print(frutas.tolist())
print(precios.tolist())
print(pesos.tolist())

['manzana', 'banana', 'manzana', 'banana', 'banana', 'zanahoria', 'manzana', 'zanahoria', 'manzana', 'manzana']
[0.8179688837403396, 1.4329953519640495, 2.4365061863264796, 1.439931517125172, 1.1783543883024892, 2.5082362906121327, 1.0121884812518052, 1.9445156161535917, 1.1047246195216438, 2.871465476859139]
[4, 4, 1, 3, 4, 1, 2, 4, 2, 4]

In [21]:
# Solución
prevDTF = pd.DataFrame({'frutas': frutas, 'precios': precios, 'pesos': pesos})
prevDTF.groupby('frutas').mean()

            precios     pesos
frutas
banana     1.350427  3.666667
manzana    1.648571  2.600000
zanahoria  2.226376  2.500000

### Crea un `DataFrame` a partir del archivo `planets.csv` seleccionando solamente las columnas `method`,  `year` y `distance`, y calcula el número elementos que tiene.

Pista: [pandas.read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

In [22]:
# Solución
dataFrame = pd.read_csv("data/planets.csv")
# Seleccionar las columnas method, year y number
dataFrame = dataFrame[['method', 'year', 'number']]

### Calcula cuantos planetas se han descubierto usando cada método de detección a partir del *dataset* de planetas anterior.

In [23]:
# Solución

dataFrame.groupby('method').count()['number']

method
Astrometry                         2
Eclipse Timing Variations          9
Imaging                           38
Microlensing                      23
Orbital Brightness Modulation      3
Pulsar Timing                      5
Pulsation Timing Variations        1
Radial Velocity                  553
Transit                          397
Transit Timing Variations          4
Name: number, dtype: int64

### Determina en qué año se descubrieron más planetas a partir del *dataset* de planetas anterior.

In [24]:
# Solución
 
# determina en que año se descubrieron mas planetas
dataFrame.groupby('year').count()['number'].idxmax()

2011

### Create un `DataFrame` a partir del *dataset* de coches [Cars93_miss.csv](https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv), y encuentra el fabricante, modelo, tipo y precio del coche más caro (solamente deben devolverse esas columnas).

En primer lugar, crea el dataset a partir de la URL anterior:

In [25]:
# Solución
dfC = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
dfC = dfC[['Manufacturer', 'Model', 'Type', 'Max.Price']]
dfC

   Manufacturer    Model     Type  Max.Price
0         Acura  Integra    Small       18.8
1           NaN   Legend  Midsize       38.7
2          Audi       90  Compact       32.3
3          Audi      100  Midsize       44.6
4           BMW     535i  Midsize        NaN
..          ...      ...      ...        ...
88   Volkswagen  Eurovan      Van       22.7
89   Volkswagen   Passat  Compact       22.4
90   Volkswagen  Corrado   Sporty       23.7
91        Volvo      240  Compact       23.5
92          NaN      850  Midsize       28.5

[93 rows x 4 columns]

Luego, muestra el precio del coche más caro, para lo cual puedes usar [pandas.DataFrame.max()](https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.DataFrame.max.html):

In [26]:
# Solución
dfC.loc[dfC['Max.Price'].idxmax()]

Manufacturer    Mercedes-Benz
Model                    300E
Type                  Midsize
Max.Price                80.0
Name: 58, dtype: object

A continuación, genera una serie de valores booleanos con el resultado de la comparación con dicho precio:

In [27]:
# Solución
# genera una serie de booleanos con el resultado de la comparacion de dicho precio
dfC['Max.Price'] == dfC['Max.Price'].max()

0     False
1     False
2     False
3     False
4     False
      ...
88    False
89    False
90    False
91    False
92    False
Name: Max.Price, Length: 93, dtype: bool

A partir de la expresión anterior, obtén la fila del dataframe que cumple la condición de precio máximo con [pandas.DataFrame.loc()](https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.DataFrame.loc.html):

In [28]:
# Solución
dfC.loc[dfC['Max.Price'] == dfC['Max.Price'].max()]

     Manufacturer Model     Type  Max.Price
58  Mercedes-Benz  300E  Midsize       80.0

Por último, selecciona únicamente las columnas del dataframe indicadas (fabricante, modelo, tipo, precio):

In [29]:
# Solución

# Ya estan seleccionadas, anteriormente ya se pedia

### Calcula una nueva columna `Norm.price` en el *dataset* de coches anterior con el precio normalizado con respecto a su valor máximo y mínimo ().

Nota: Esta normalización se realiza con la siguiente operación: $(precio - precioMinimo)/(precioMaximo - precioMinimo)$

In [30]:
# Solución
dfC['Norm.price'] = [(x - dfC['Max.Price'].min()) / (dfC['Max.Price'].max() - dfC['Max.Price'].min()) for x in dfC['Max.Price']]
dfC.head()

  Manufacturer    Model     Type  Max.Price  Norm.price
0        Acura  Integra    Small       18.8    0.151179
1          NaN   Legend  Midsize       38.7    0.427184
2         Audi       90  Compact       32.3    0.338419
3         Audi      100  Midsize       44.6    0.509015
4          BMW     535i  Midsize        NaN         NaN

### Encuentra los tres vehículos con mayor precio (`Price`), ignorando los que no tengan precio asignado (NaN), en el *dataset* de coches anterior.

Pista: Averigua para qué sirve el parámetro `subset` de [pandas.DataFrame.dropna()](https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.DataFrame.dropna.html).

In [31]:
# Solución
dfC.dropna(subset=['Max.Price']).sort_values('Max.Price', ascending=False)[:3]

     Manufacturer    Model     Type  Max.Price  Norm.price
58  Mercedes-Benz     300E  Midsize       80.0    1.000000
3            Audi      100  Midsize       44.6    0.509015
10       Cadillac  Seville  Midsize       42.7    0.482663

### Crea un `DataFrame` a partir del archivo `california_cities.csv` y muestra la población total de la ciudad con más habitantes (se deben mostrar las columnas `city` y `population_total`).

In [32]:
# Solución
dfCC = pd.read_csv('data/california_cities.csv')
dfCC[['city', 'population_total']]

            city  population_total
0       Adelanto             31765
1    AgouraHills             20330
2        Alameda             75467
3         Albany             18969
4       Alhambra             83089
..           ...               ...
477   Yountville              2933
478        Yreka              7765
479     YubaCity             64925
480      Yucaipa             51367
481  YuccaValley             20700

[482 rows x 2 columns]

### Determina cuál es la población de la ciudad más septentional de California a partir del *dataset* de ciudades anterior (se deben mostrar las columnas `city`, `latd` y `population_total`).

In [33]:
# Solución

dfCC.loc[dfCC['latd'].idxmax()][['city', 'latd', 'population_total']]

city                Dorris
latd                41.965
population_total       939
Name: 114, dtype: object

### Calcula la densidad de población de la ciudad de California que se encuentra a mayor altitud a partir del *dataset* de ciudades anterior (se deben mostrar las columnas `city`, `elevation_m` y `area_total_km2`, así cómo la densidad de población total en habitantes por kilómetro cuadrado)

In [44]:
# Solución

mammothLakes = dfCC.loc[dfCC['elevation_m'].idxmax()][['city', 'elevation_m', 'area_total_km2', 'population_total']]
mammothLakes['density'] = mammothLakes['population_total'] / mammothLakes['area_total_km2']
print(mammothLakes, "\nEl punto es una coma, el área total es 65 km2 y la densidad es 125 hab/km2")

city                MammothLakes
elevation_m               2402.0
area_total_km2            65.541
population_total            8234
density               125.631284
Name: 246, dtype: object
El punto es una coma, el área total es 65 km2 y la densidad es 125 hab/km2